<!--<div class="center jumbotron">-->
<% provide(:title, "Home") %>
<!--<h1>Home page</h1>
<p class="center" >Online Bookstore App</p>
<br>
<p class="center">
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  bookstore application.
</p>
-->
<h1>Welcome in our book shop!</h1>
<br>
<p>Please <%= link_to 'login',products_path %> or <%= link_to 'sign up',products_path %></p>


<%= render 'layouts/categories' %>



<table class="catalog">
  <% @products.each do |product| %>
      <tr>
        <td>
          <div class="image">
            <%= link_to (image_tag product.image_url, :style => "height:100px"), product %>
          </div>
          <div class="title">
            <%= link_to product.author, product %>
          </div>
          <div class="title">
            <%= link_to product.title, product %>
          </div>
          <div class="price">
             <%= number_to_currency(product.price, :unit => "€") %>
          </div>
          <div class="links">
          <%= link_to 'New Item', new_product_path %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
</table>
