<p id="notice"><%= notice %></p>

<h1>Books catalog</h1>

<br>
<table class="catalog">
  <%@products.each do |product| %>
  <tr>
    <td>
      <div class="image">
        <%= link_to (image_tag product.image_url, :style => "height:100px"), product %>
      </div>
    </td>
    <td>
      <div class="title">
        <%= link_to product.title, product %>
      </div>
      <div class="author">
        <%= link_to product.author, product %>
      </div>
      <div class="price">
         Price: <%= number_to_currency(product.price, :unit => "€") %>
      </div>
      <br>
      <div class="description">
        <%= product.description %>
      </div>  
      <br>
      <div class="links">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'View details',  product %>
            <a href="/cart/<%= product.id %>">Add to Cart</a>
          <% end %>
        <% else %>
          <%= link_to 'View details',  product %>
        <% end %>
    </div>
    <br>
    </td>
  </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <% if current_user.admin %>
    <p><%= link_to 'New book', new_product_path %></p>
  <% end %>
<% end %>