<!-- <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <h4 id="logo">FoxBooks</h4>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </nav>
      </div>
    </header>
 -->   
<div id='header'>
<h1>Clever Fox Books</h1>
<!--<p>Online Bookstore App</p>-->
<div id='menu'>
    <div id='navbar'>
         <ul>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "About",  about_path %></li>
            <li><%= link_to "Cart", cart_path %></li>
            <li><%= link_to "Log in", '#' %></li>
            <li><%= link_to "Log Out", '#' %></li>
         </ul>        
    </div>
</div>
</div>